<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <div class="d-flex">
        <div style="width: 1000px" class="products">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for p in products %}
{#                    <h1>{{ p.title }}</h1>#}
{#                    <img width="200px" src="{{ p.image.url }}">#}
{#                    <p>{{ p.price }} KGS</p>#}

                    <div class="col">
                      <div class="card shadow-sm">
                        <img height="300px" width="300px" src="{{ p.image.url }}">

                        <div class="card-body">
                          <p class="card-text">{{ p.title }}</p>
                          <div class="d-flex justify-content-between align-items-center">

                            <small class="text-muted">{{ p.price }} KGS</small>
                          </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div style="width: calc(100% - 1000px)" class="filter_form">
            <form method="post">
                {% csrf_token %}
                <select name="category" class="form-control form-control-lg" multiple>
                {% for b in brands %}
                    <option value="{{ b.id }}">{{ b.title }}</option>
                {% endfor %}
                </select>
                <button class="btn btn-dark" type="submit">Применить фильтр</button>
            </form>
        </div>

    </div>
    <span>
        yanki/api/v1/pro_list/<br>
        yanki/api/v1/pro_list/cat_id<br>
        yanki/api/v1/cat_list<br>
        yanki/api/v1/wish_list<br>
        yanki/api/v1/wish_list/pk
    </span>
<script>
    var myCollapsible = document.getElementById('myCollapsible')
    function myfunction() {
        myCollapsible.classList.add('show')
    }
    jQuery('option').mousedown(function(e) {
    e.preventDefault();
    jQuery(this).toggleClass('selected');

    jQuery(this).prop('selected', !jQuery(this).prop('selected'));
    return false;
    });
</script>
</body>
</html>